# ALTERATIONS 25-10-25
[include sovol-macros.cfg]
#[gcode input_shaping]
#[delayed_gcode TEST_BELT] # COPIED FROM SOVOL MACROS 25-08-30
#initial_duration: 0.3
#gcode:
#    {% set x_freq = printer.save_variables.variables.x_freq|float %}
#    {% set y_freq = printer.save_variables.variables.y_freq|float %}
#    {% set show_freq = printer.save_variables.variables.show_freq %}
#    {% if show_freq == 1 %}
#        M117 x {x_freq}, y {y_freq}
#        SAVE_VARIABLE VARIABLE=show_freq VALUE=0
#    {% endif %}

[gcode_macro PID_HOTEND] # 25-10-25
gcode:
    PID_CALIBRATE HEATER=extruder TARGET=225

[gcode_macro PID_BED] #25-10-25
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=50

[gcode_macro QGL] #25-10-25
gcode:
    QUAD_GANTRY_LEVEL

[gcode_macro RESONANCES_TEST]
description: Run input shaper test
gcode:
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  _CG28                                                 ; home if needed
  TURN_OFF_HEATERS                                      ; turn off heaters
  M107                                                  ; turn off fan
  {% if user.hw.chamber.fan %} M141 {% endif %}         ; exhaust fan off
  {% if user.hw.filter.ena %} _SET_FILTER {% endif %}   ; filter off
  _PRINT_AR T="INPUT SHAPER: Noise values, check if sensor is installed"
  MEASURE_AXES_NOISE                                    ; get noise value in log
  _PRINT_AR T="INPUT SHAPER: Resonance Tests starting"
  _PRINT_AR T="INPUT SHAPER: Mesasure X axis"
  TEST_RESONANCES AXIS=X                                ; measure X
  _PRINT_AR T="INPUT SHAPER: Mesasure Y axis"
  TEST_RESONANCES AXIS=Y                                ; measure Y
  _PRINT_AR T="INPUT SHAPER: Resonance Tests done"
  _PRINT_AR T="INPUT SHAPER: Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph PARAMS=SHAPER

[gcode_macro BELT_TEST]
description: Run resonance test to analyze belts
gcode:
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  _CG28                                                 ; home if needed
  TURN_OFF_HEATERS                                      ; turn off heaters
  M107                                                  ; turn off fan
  {% if user.hw.chamber.fan %} M141 {% endif %}         ; exhaust fan off
  {% if user.hw.filter.ena %} _SET_FILTER {% endif %}   ; filter off
  _PRINT_AR T="BELT TEST: Noise values, check if sensor is installed"
  MEASURE_AXES_NOISE                                    ; get noise value in log
  _PRINT_AR T="BELT TEST: Resonance Tests starting ..."
  _PRINT_AR T="BELT TEST: Mesasure B belt"
  TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data NAME=b
  _PRINT_AR T="BELT TEST: Mesasure A belt"
  TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data NAME=a
  _PRINT_AR T="BELT TEST: Resonance Tests done"
  _PRINT_AR T="BELT TEST: Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph PARAMS=BELT


# my macros for testing and use

##############################
[gcode_macro accelr_test]
##############################

description: Checks that accelerometer is connected
gcode:
  accelerometer_query

######################
[gcode_macro accelr_calib_X]
#####################

description: Starts sheper resonance test on X axis.
gcode:
  shaper_calibrate axis=X

############################### 25-01-09
[gcode_macro turn_off_steppers]
###############################

description: turns off all stepper motors
gcode:
  M84
  
############################### 25-01-09
[gcode_macro turn_off_extruder]
###############################

description: turns off extruder stepper
gcode:
  M18 E

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

############################### 25-12-21
[gcode_macro update_git]
##############################
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True
    